body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
  }
  
  .container {
    width: 400px;
  }

  .back-btn {
    background-color: #D2691E;
    border: none;
    width: 50px;
    height: 30px;
    font-size: 1.5vw;
    color: #FFFFFF;
    border-radius: 0.5vw;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2vw;
  }
  
  
  .privtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #stripImage {
    margin-left: auto;
    margin-right: 10px;
  }
  
  .pcontents {
    counter-reset: section;
    padding-left: 0;
  }
  
  .pcontents li {
    list-style-type: none;
    counter-increment: section;
    margin-bottom: 10px;
  }
  
  .pcontents li::before {
    content: counter(section) ".";
    font-weight: bold;
    margin-right: 5px;
  }
  
  .policy p {
    margin-bottom: 5px;
  }